<!--  Favicon  -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.static }}/gui/favicon-152x152.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.static }}/gui/favicon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.static }}/gui/favicon-120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.static }}/gui/favicon-114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.static }}/gui/favicon-76x76.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.static }}/gui/favicon-72x72.png">
<link rel="apple-touch-icon-precomposed" href="{{ site.static }}/gui/favicon-57x57.png">
