<header class="header__main wrapper cf">

  <div class="wrapper__sub">

    <div class="brand grid ss1-ss3 ls-hidden">
    <img class="image__responsive" src="{{ site.static }}/gui/logo-small_birmingham-sports-awards_2013.png" alt="Birmingham Sports Awards 2014" style="width: 158px">
    </div>

    <div class="ls-hidden">
      <img class="navicon" id="navicon" alt="navigation" src="{{ site.static }}/gui/navicon.png" alt="Menu">
    </div>

    <div class="grid ss1-ss4 ss-no-padding ls1-ls12">

      {% include templates/navigation.html %}

    </div>


  </div>

</header>

  {% include templates/hero.html %}
