<section class="hero box wrapper cf">
<div class="wrapper__sub">
  <section class="hero__image">
    <div class="grid ss-hidden ms-hidden ls1-ls8">
      <img src="{{ site.static }}/gui/logo_birmingham-sports-awards_2013.png" alt="Birmingham Sports Awards 2014">
    </div>
  </section>

  <section class="hero__sponsor grid ss1-ss4 ls9-ls12">
    <p><small>Headline Sponsor<br>
    <a href="http://www.mattioli-woods.com/" target="_blank">
      <img class="image__responsive" src="{{ site.media }}/logo/logo_sponsor_matioli-woods_x2.png" alt="Mattioli Woods">
    </a></small></p>
  </section>
</div>
</section>
