<nav role="navigation" class="navigation">
  <ul id="js-nav__main" class="menu navigation__main wrapper">
       <li><a href="{{ site.url }}/">Home</a></li><!--
    --><li><a href="{{ site.url }}/categories/">Categories</a></li><!--
    --><li><a href="{{ site.url }}/winners/">Winners</a></li><!--
    --><li><a href="{{ site.url }}/ceremony/">Ceremony</a></li><!--
    --><li><a href="{{ site.url }}/sponsors/">Sponsors</a></li><!--
    --><li><a href="{{ site.url }}/contact/">Contact Us</a></li>
  </ul>
</nav>
