<div class="wrapper__sub cf">

  <section class="grid ss1-ss4 ls1-ls8 sponsors box">

    <h4 class="beta heading--main">Sponsored by</h4>

    <ul class="list gallery cf">

      <li class="gallery__item">
        <a class="outbound link " href="http://www.mattioli-woods.com/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_mattioli-woods.svg" alt="Mattioli Woods" data-fallback="{{ site.media }}/sponsors/logo_mattioli-woods.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="https://www.sport.bham.ac.uk/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_university-of-birmingham-sport.png" alt="University of Birmingham">
        </a>
      </li>
      <li class="gallery__item">
        <a class="outbound link" href="http://www.pmgroupuk.com/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_pmgc.png" alt="PMGC">
        </a>
      </li>
      <li class="gallery__item">
        <a class="outbound link" href="http://dbpoloclub.com/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_dallas-burston-polo-club.png" alt="Dallas Burston Polo Club">
        </a>
      </li>
      <li class="gallery__item">
        <a class="outbound link" href="http://inspirational.uk.com/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_inspirational-magazine.png" alt="Inspirational Magazine">
        </a>
      </li>
      <li class="gallery__item">
        <a class="outbound link" href="http://www.sccb.ac.uk/">
        <img class="image__responsive" src="{{ site.media }}/sponsors/logo_south-city-college.png" alt="South and City College">
        </a>
      </li>
      <li class="gallery__item">
        <a class="outbound link" href="http://www.avfc.co.uk/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_aston-villa.png" alt="Aston Villa">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="http://www.birmingham.gov.uk/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_birmingham-city-council.png" alt="Birmingham City Council">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="http://www.virgintrains.co.uk/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_virgin-trains.png" alt="Virgin Trains">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="http://cartwrightking.co.uk/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_cartwright-king.v2.svg" alt="Cartwright King Solicitors" data-fallback="{{ site.media }}/sponsors/logo_cartwright-king.v2.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="http://www.adelphispecialrisks.co.uk/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_adelphi.svg" alt="Cartwright King Solicitors" data-fallback="{{ site.media }}/sponsors/logo_adelphi.png">
        </a>
      </li>

    </ul>


  </section>

  <section class="grid ss1-ss4 ls9-ls12 association box">

      <h4 class="beta heading--sub">In association with</h4>
      <a class="outbound link" href="http://www.championsukplc.co.uk/">
        <img class="image__responsive" src="{{ site.media }}/sponsors/logo_championsuk.svg" alt="Champions UK" data-fallback="{{ site.media }}/sponsors/logo_championsuk.png">
      </a>

  </section>

</div>
