<div class="wrapper__sub cf">

<section class="grid ss1-ss4 ls1-ls8 sponsors box">

    <h4 class="beta heading--main">Sponsored by</h4>

    <ul class="list gallery cf">
      <li class="gallery__item">
        <a href="#">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="#">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="#">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="#">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="#">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="#">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="#">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
    </ul>


</section>

<section class="grid ss1-ss4 ls9-ls12 association box">


    <h4 class="beta heading--sub">In association with</h4>
    <a href="#">
      <img class="image__responsive" src="{{ site.media }}/logo/logo_sponsor_champions-uk_390x150.png" alt="Champions UK">
    </a>

  </div>

</section>

</div>
