---
layout: default
---

<article class="grid ss1-ss4 ls1-ls8 box__large">
  {{ content }}
</article>

<section class="grid ss1-ss4 ls9-ls12 box__large">

  <article class="box">
    <h2 class="heading--sub">Nominate</h2>
      <a class="btn btn__large btn--primary" href="{{ site.url }}/nominate/">Nominate</a>
  </article>

  <article>
    <h2 class="heading--sub">#BSA</h2>

    <!--  @TODO: Update search hashtag to #BSA  -->
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23avfc+from%3Abirminghampost+OR+from%3Abirminghammail+OR+from%3AChampionsUKplc" data-widget-id="453482668588404736">Tweets about the Birmingham Sports Awards</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </article>


</section>
