---
layout: default
---

<article class="grid ss1-ss4 ls1-ls8 box__large">
  {{ content }}
</article>

<section class="grid ss1-ss4 ls9-ls12 box__large">

  <article>
    <h2 class="heading--sub"><img class="image__responsive icon" src="{{ site.static }}/gui/icon_twitter.png" alt="">#BSA</h2>

    <a class="twitter-timeline" href="https://twitter.com/search?q=%23bsa+from%3Abirminghampost+OR+from%3Abirminghammail+OR+from%3AChampionsUKplc" data-widget-id="461133527598125056">Tweets about the Birmingham Sports Awards</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



  </article>


</section>
