.header__main {
  background-color: @brand--blue;
  background-image: -moz-linear-gradient(top, @brand--blue 0%, @brand--blue-dark 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@brand--blue), color-stop(100%,@brand--blue-dark)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, @brand--blue 0%,@brand--blue-dark 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, @brand--blue 0%,@brand--blue-dark 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, @brand--blue 0%,@brand--blue-dark 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, @brand--blue 0%,@brand--blue-dark 100%); /* W3C */
  background-repeat: repeat-x;
  background-size: auto 44px;
}
