/*  --  objects/_list.less  --  */

//
// 1. Removes bullets
// 2. Removes default margin for ul
// 3. Removes default padding
//

.list {
  list-style:none;  // 1.
  margin-top: 0;  // 2.
  margin-bottom: 0;  // 2.
  padding-left:0;  // 3.
}

.list > li {
  display: block;
}